<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Category</key>
		<string>SubType</string>
		<key>Tweaks</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>ST</string>
				<key>Label</key>
				<string>Pick your SubType</string>
				<key>Selection</key>
				<array>
					<dict>
						<key>Label</key>
						<string>2556</string>
						<key>Value</key>
						<string>3556</string>
					</dict>
					<dict>
						<key>Label</key>
						<string>2622</string>
						<key>Value</key>
						<string>2622</string>
					</dict>
					<dict>
						<key>Label</key>
						<string>2796</string>
						<key>Value</key>
						<string>2796</string>
					</dict>
					<dict>
						<key>Label</key>
						<string>2868</string>
						<key>Value</key>
						<string>2868</string>
					</dict>
				</array>
				<key>Type</key>
				<string>String</string>
				<key>UI</key>
				<string>SegmentedControl</string>
				<key>Value</key>
				<string>2552</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>NOTE: I AM NOT RESPONSIBLE FOR YOUR BOOTLOOPS & ANY ISSUES</string>
		<key>Tweaks</key>
		<key>Category</key>
		<string>made by doraa with love uwu</string>
		<key>Description</key>
		<string>The best way to reach me is on Discord!</string>
		<key>Tweaks</key>
		<array>
			<dict>
				<key>Label</key>
				<string>Discord (@dor4a)</string>
				<key>UI</key>
				<string>Link</string>
				<key>URL</key>
				<string>https://discord.com/users/455513497288310785</string>
			</dict>
			<dict>
				<key>Label</key>
				<string>Twitter (@d0ra727)</string>
				<key>UI</key>
				<string>Link</string>
				<key>URL</key>
				<string>https://twitter.com/d0ra727</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
